{% set name = "tohru.is-very-cute.moe" %}
{% set motto = "A small safe worth protecting." %}
{% set description = "A pomf-like file uploading service that doesn't suck." %}
{% set keywords = "upload,lolisafe,file,images,hosting,thatawesomeguy173,tohru" %}

{# Used in home.njk and nojs.njk #}
{% set home_subtitle = "" %} {# HTML supported #}

{# Used in faq.njk and cookiepolicy.njk #}
{% set root_domain = "is-very-cute.moe" %}
{% set whole_faq = root_domain + " website and sub-domains" %}
{% set whole_cookie = "This site and " + root_domain + " website and sub-domains" %}
{% set email = "newgen.extrafaith@gmail.com" %}

{% set fork_repo = "https://github.com/ThatAwesomeGuy173/lolisafe" %}
{% set fork_host = "GitHub" %}
{% set fork_issues = fork_repo + "/issues/new/choose" %}

{% set takedowns_url = false %}
{% set server_location = "New Jersey, <strong>United States</strong>" %} {# HTML supported #}
{% set support = false %} {# HTML supported #}

{% set enable_faq_banned_categories = false %}
{% set enable_faq_tor = false %}

{#
  These are the footer links in the homepage and the No-JS uploader (home.njk & nojs.njk respectively).
  In the homepage uploader, they will be displayed as icons,
  but you can choose to display them as texts by setting "home_icons" to false.
  It will then use the text in "attrs.title" of each links.
  Note: No-JS uploader page will have icons disabled by default (it will also not load fontello.css).
#}
{% set home_icons = false %}
{% set home_links = [
  {
    attrs: {
      title: 'View on GitHub',
      href: 'https://github.com/ThatAwesomeGuy173/lolisafe/tree/tohru',
      target: '_blank',
      rel: 'noopener'
    },
    icon: 'icon-github-circled icon-2x'
  },
  {
    attrs: {
      id: 'ShareX',
      title: 'ShareX user profile',
      href: 'https://tohru.is-very-cute.moe/tohru.is-very-cute.moe.sxcu?v=' + v2
    },
    icon: 'icon-sharex icon-2x'
  },
  {
    attrs: {
      title: 'FAQ',
      href: 'faq'
    },
    icon: 'icon-help-circled icon-2x'
  },
  {
    attrs: {
      title: 'Dashboard',
      href: 'auth'
    },
    icon: 'icon-gauge icon-2x'
  }
] %}
