{% set name = "tohru.is-very-cute.moe" %}
{% set motto = "A small safe worth protecting." %}
{% set description = "A pomf-like file uploading service that doesn't suck." %}
{% set keywords = "upload,lolisafe,file,images,hosting,thatawesomeguy173,tohru" %}

{# Used in home.njk and nojs.njk #}
{% set home_subtitle = "" %}

{#
  These are the footer links in the homepage and the No-JS uploader (home.njk & nojs.njk respectively).
  In the homepage uploader, they will be displayed as icons,
  but you can choose to display them as texts by setting "home_icons" to false.
  It will then use the text in "attrs.title" of each links.
  Note: No-JS uploader page will have icons disabled by default (it will also not load fontello.css).
#}
{% set home_icons = false %}
{% set home_links = [
  {
    attrs: {
      title: 'View on GitHub',
      href: 'https://github.com/ThatAwesomeGuy173/lolisafe/tree/tohru',
      target: '_blank',
      rel: 'noopener'
    },
    icon: 'icon-github-circled icon-2x'
  },
  {
    attrs: {
      id: 'ShareX',
      title: 'ShareX user profile',
      href: 'https://tohru.is-very-cute.moe/tohru.is-very-cute.moe.sxcu?v=' + v2
    },
    icon: 'icon-sharex icon-2x'
  },
  {
    attrs: {
      title: 'FAQ',
      href: 'faq'
    },
    icon: 'icon-help-circled icon-2x'
  },
  {
    attrs: {
      title: 'Dashboard',
      href: 'auth'
    },
    icon: 'icon-gauge icon-2x'
  }
] %}
